<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
دیتافریم
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ساخت یک دیتافریم در پانداز، بسیار ساده است و همان‌طور که در دیتاسری عمل می‌کردیم می‌توانیم هم از دیکشنری و هم از یک لیست ساده برای مقداردهی اولیه آن استفاده کنیم. به مثال زیر توجه کنید:
    </font>
</p>

In [1]:
import pandas as pd
import numpy as np

cars_dictionary = {
    "model" :[ "Peykan", "BMW X6", "Peugeot 206", "Tiba", "Nissan Junior", "Peykan Vanet", "renault 5"],
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}

df = pd.DataFrame(cars_dictionary)

df

           model   Color   HP  Weight (KG)  price
0         Peykan     Red   48          990     33
1         BMW X6   White  335         2320   2400
2    Peugeot 206   Black  105         1025    105
3           Tiba   White   87         1027    120
4  Nissan Junior    Blue   93         1540    230
5   Peykan Vanet     Red   80          960     68
6      renault 5  Silver   48          850     38

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در سلول بالا، از دیکشنری <code>cars_dictionary</code> برای ساخت دیتافریم استفاده کردیم که این مقادیر، همان‌طور که از اسم آن پیداست، اطلاعات ۷ ماشین در یک نمایشگاه اتوموبیل است. اما همان‌طور که می‌بینید، کلید‌های این دیکشنری، به عنوان نمایه‌ی دیتافریم استفاده نمی‌شوند بلکه به عنوان اسم سر‌ستون‌ها قرار داده شده‌اند. برای درک بهتر، تصور کنید که این لیست‌ها ۹۰ درجه چرخیده باشند و به جدول دیتافریم df تبدیل شده باشند.
    </font>
</p>

In [2]:
df.columns

Index(['model', 'Color', 'HP', 'Weight (KG)', 'price'], dtype='object')

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در سلول بالا، می‌بینید که تمامی اسم سرستون‌ها که برابر با کلید‌های دیکشنری <code>cars_dictionary</code> بودند را دریافت کردیم.
    </font>
</p>

In [3]:
type(df.columns)

pandas.core.indexes.base.Index

In [4]:
df.columns.tolist()

['model', 'Color', 'HP', 'Weight (KG)', 'price']

In [5]:
df.columns.to_numpy()

array(['model', 'Color', 'HP', 'Weight (KG)', 'price'], dtype=object)



<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    لیست <code>columns</code>، از نوع object نیست بلکه ساختارداده‌ی خاصی در پانداز است که نمایه‌ها را ذخیره می‌کند:
 <br>
 
    همچنین برای دسترسی یا تغییر نمایه‌های جدول می‌توانیم از ویژگی <code>index</code> مانند آنچه در دیتاسری انجام می‌دادیم استفاده کنیم.
    </font>
</p>

In [6]:
df.index

RangeIndex(start=0, stop=7, step=1)

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    خروجی کد بالا، نشان می‌دهد که این لیست به صورت ساختار داده‌ی <code>RangeIndex</code> در پانداز تعریف شده و اعداد ۰ تا ۷ را شامل می‌شود.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
دیتافریم، چند سری به هم چسبیده
    </font>
</h2>

In [7]:
df["Color"]

0       Red
1     White
2     Black
3     White
4      Blue
5       Red
6    Silver
Name: Color, dtype: object

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
هر ستون دیتافریم را می‌توان به صورت یک سری تصور کرد
    </font>
</p>

In [8]:
df.iloc[0] #not df[0]

model          Peykan
Color             Red
HP                 48
Weight (KG)       990
price              33
Name: 0, dtype: object

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
هر سطر دیتافریم را نیز می‌توان به صورت دیتافریمی تصور کرد که نمایه‌های آن نام ستون‌ها باشد.
    </font>
</p>

In [9]:
df.values

array([['Peykan', 'Red', 48, 990, 33],
       ['BMW X6', 'White', 335, 2320, 2400],
       ['Peugeot 206', 'Black', 105, 1025, 105],
       ['Tiba', 'White', 87, 1027, 120],
       ['Nissan Junior', 'Blue', 93, 1540, 230],
       ['Peykan Vanet', 'Red', 80, 960, 68],
       ['renault 5', 'Silver', 48, 850, 38]], dtype=object)

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
با استفاده از ویژگی <code> values</code>، به تمامی مقادیر دیتافریم، بدون نام ستون‌ها و نمایه‌ها دسترسی پیدا کردیم.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ساخت دیتافریم با لیست
    </font>
</h2>

In [10]:
df2 = pd.DataFrame([['Peykan', 'Red', 48, 990, 33],
       ['BMW X6', 'White', 335, 2320, 2400],
       ['Peugeot 206', 'Black', 105, 1025, 105],
       ['Tiba', 'White', 87, 1027, 120],
       ['Nissan Junior', 'Blue', 93, 1540, 230],
       ['Nissan Junior', 'Red', 93, 1540, 186],
       ['renault 5', 'Silver', 48, 850, 38]])
df2

               0       1    2     3     4
0         Peykan     Red   48   990    33
1         BMW X6   White  335  2320  2400
2    Peugeot 206   Black  105  1025   105
3           Tiba   White   87  1027   120
4  Nissan Junior    Blue   93  1540   230
5  Nissan Junior     Red   93  1540   186
6      renault 5  Silver   48   850    38


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد بالا با استفاده از یک آرایه‌ی نامپای یک دیتافریم ساختیم. همان‌طور که می‌بینید این دیتافریم بدون نام نمایه و ستون است و تنها اعداد ۰ تا L-1 در نظر گرفته شده‌اند.
<br>
پیشنهاد می‌کنیم برای آشنایی بیشتر با ساختار دیتافریم در پانداز، مقادیر نمایه و نام ستون‌ها را با استفاده از ویژگی‌های <code>index</code>  و <code>columns</code>، تغییر دهید.
    </font>
</p>

In [11]:
df2 = pd.DataFrame([['Peykan', 'Red', 48, 990, 33],
       ['BMW X6', 'White', 335, 2320, 2400],
       ['Peugeot 206', 'Black', 105, 1025, 105],
       ['Tiba', 'White', 87, 1027, 120],
       ['Nissan Junior', 'Blue', 93, 1540, 230],
       ['Nissan Junior', 'Red', 93, 1540, 186],
       ['renault 5', 'Silver', 48, 850, 38]],
        index = ['a','b','c','d','e','f','g'],
        columns= ['model' , 'Color' , 'HP', 'Weight (KG)', 'price'])
df2

           model   Color   HP  Weight (KG)  price
a         Peykan     Red   48          990     33
b         BMW X6   White  335         2320   2400
c    Peugeot 206   Black  105         1025    105
d           Tiba   White   87         1027    120
e  Nissan Junior    Blue   93         1540    230
f  Nissan Junior     Red   93         1540    186
g      renault 5  Silver   48          850     38


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در کد بالا، با مقداردهی پارامتر‌های <code>index</code> و <code>columns</code>، در هنگام تغریف دیتافریم، توانستیم نام نمایه‌ها و ستون‌ها را تغییر دهیم.
</font>
</p>