<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کار با دیتافریم
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در درسنامه‌های قبلی با داده‌ساختار‌های سری و فریم در پانداس آشنا شدیم. همان‌طور که دیدید، هر سطر یا ستون دیتافریم، به عنوان یک سری شناخته می‌شود. در این درس، قصد داریم روش‌های نمایه‌سازی دیتافریم در پانداز را با هم مقایسه کرده و با روش‌های پیشرفته‌تر آن آشنا شویم.
    </font>
</p>

In [1]:
import pandas as pd
import numpy as np

cars_dictionary = {
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}

df = pd.DataFrame(cars_dictionary , index = [ "Peykan", "BMW X6", "Peugeot 206", "Tiba", "Nissan Junior", "Peykan Vanet", "renault 5"])

df

                Color   HP  Weight (KG)  price
Peykan            Red   48          990     33
BMW X6          White  335         2320   2400
Peugeot 206     Black  105         1025    105
Tiba            White   87         1027    120
Nissan Junior    Blue   93         1540    230
Peykan Vanet      Red   80          960     68
renault 5      Silver   48          850     38

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
دقت کنید که در این حالت، مدل ماشین‌ها به عنوان نمایه در نظر گرفته شده است و ستون اولی که می‌بینید، همان نمایه‌های دیتافریم هستند.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
نمایه‌سازی ستون‌ها
    </font>
</h2>

In [2]:
cars_dictionary["Color"]

['Red', 'White', 'Black', 'White', 'Blue', 'Red', 'Silver']

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
با استفاده از کلید <code>"Color"</code>، به لیستی از تمامی رنگ‌های دیکشنری دسترسی پیدا کردیم.
    </font>
</p>

In [3]:
df["Color"]

Peykan              Red
BMW X6            White
Peugeot 206       Black
Tiba              White
Nissan Junior      Blue
Peykan Vanet        Red
renault 5        Silver
Name: Color, dtype: object


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد بالا، به یک ستون دیتافریم با استفاده از نام ستون دسترسی پیدا کردیم. 
<br>
برعکس دیکشنری که یک لیست ساده را به عنوان خروجی چاپ می‌کرد، در این جا، این ستون به صورت سری با نمایه‌های مساوی با  دیتافریم <code>df</code> چاپ شده است.
    </font>
</p>

In [4]:
df.Color

Peykan              Red
BMW X6            White
Peugeot 206       Black
Tiba              White
Nissan Junior      Blue
Peykan Vanet        Red
renault 5        Silver
Name: Color, dtype: object


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
راه دوم برای دسترسی به ستون‌های یک دیتافریم.
<br>
دقت کنید که این روش، تنها در حالت‌هایی که نام ستون بدون فاصله است قابل استفاده می‌باشد.
    </font>
</p>

In [5]:
for c in df.columns:
    print(c)
    print(df[c].count())

Color
7
HP
7
Weight (KG)
7
price
7

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این کد با استفاده از <code>df[c]</code> به تک تک ستون‌ها دسترسی پیدا کرده و عملیات شمارش را روی آن‌ها اعمال کردیم.
    </font>
</p>

In [6]:
df[["Color" , "price"]]

                Color  price
Peykan            Red     33
BMW X6          White   2400
Peugeot 206     Black    105
Tiba            White    120
Nissan Junior    Blue    230
Peykan Vanet      Red     68
renault 5      Silver     38


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
همان‌طور که گفتیم، دسترسی به یک ستون دیتافریم، به ما یک سری را برمی‌گرداند؛ اما می‌بینید که در حالتی که به چند ستون دسترسی پیدا می‌کنیم، خروجی به صورت یک دیتافریم است.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
نمایه‌سازی سطرها
    </font>
</h2>

In [7]:
df.iloc[2]

Color          Black
HP               105
Weight (KG)     1025
price            105
Name: Peugeot 206, dtype: object

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد بالا، به سطر دوم دیتافریم، مانند نامپای، دسترسی پیدا می‌کنیم.
    </font>
</p>

In [8]:
df.loc["Tiba"]

Color          White
HP                87
Weight (KG)     1027
price            120
Name: Tiba, dtype: object

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد بالا، به سطری که نام نمایه‌ی آن <code>"Tiba"</code> است، دسترسی پیدا می‌کنیم.
    </font>
</p>

In [9]:
cars_dictionary = {
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}

df2 = pd.DataFrame(cars_dictionary )

df2

    Color   HP  Weight (KG)  price
0     Red   48          990     33
1   White  335         2320   2400
2   Black  105         1025    105
3   White   87         1027    120
4    Blue   93         1540    230
5     Red   80          960     68
6  Silver   48          850     38


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
دیتافریم <code>df2</code> را، بدون مقداردهی نمایه‌ها می‌سازیم تا تفاوت دستوهای <code>loc</code> و <code>iloc</code> را بررسی کنیم.
    </font>
</p>

In [23]:
df2.loc[3]

Color          White
HP                87
Weight (KG)     1027
price            120
Name: 3, dtype: object


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌بینیم که در این حالت، شماره‌ی نمایه‌ها با نام آن‌ها کاملا برابر است و می‌توان از دستور <code>loc</code>، برای نمایه‌سازی استفاده کرد.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
نمایه‌سازی با دیدگاه مبتنی بر آرایه‌ی دوبعدی
    </font>
</h2>

In [11]:
arr = np.arange(16).reshape(4, 4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد بالا، یک آرایه‌ی نامپای ۴ در ۴ می‌سازیم.
    </font>
</p>

In [24]:
arr[2,3]

11


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
مانند آنچه در فصل نامپای یاد گرفتیم، برای دسترسی به عنصر سطر دوم و ستون سوم آرایه، می‌توانیم از کد بالا استفاده کنیم.
<br>
قالب کلی این نوع نمایه‌سازی را به خاطر بسپارید، برای نمایه‌سازی در پانداز نیز، می‌توانیم از روشی مشابه استفاده کنیم.
    </font>
</p>

In [13]:
df

                Color   HP  Weight (KG)  price
Peykan            Red   48          990     33
BMW X6          White  335         2320   2400
Peugeot 206     Black  105         1025    105
Tiba            White   87         1027    120
Nissan Junior    Blue   93         1540    230
Peykan Vanet      Red   80          960     68
renault 5      Silver   48          850     38

یاآوری عناصر دیتافریم <code>df</code>

In [31]:
df.iloc[2,3]

105

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
با دستور <code>iloc</code>ِ، دقیقا مانند آرایه‌ی نامپای، به عنصر سطر دوم و ستون سوم دیتافریم دسترسی پیدا می‌کنیم.
    </font>
</p>

In [15]:
df.iloc[[2,3], 1:3]

              HP  Weight (KG)
Peugeot 206  105         1025
Tiba          87         1027


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
به راحتی می‌توان از یک لیست برای آدرس‌دهی یا علامت دونقطه استفاده کرد.
<br>
در این حالت ستون‌های اول و دوم (با شروع از صفر) در خروجی ظاهر می‌شوند.
    </font>
</p>

In [34]:
df.loc["Peugeot 206", "price"]

105

In [40]:
df.loc[["Peykan","Tiba"],"price"]

Peykan     33
Tiba      120
Name: price, dtype: int64

In [41]:
df.loc["Peykan":"Tiba", "price"]

Peykan           33
BMW X6         2400
Peugeot 206     105
Tiba            120
Name: price, dtype: int64


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
دستور <code>loc</code>، دقیقا مانند <code>iloc</code> عمل کرده؛ اما به جای استفاده از شماره‌ی موقعیت‌ها، از نام نمایه‌ها و ستون‌ها استفاده می‌کنیم.
    </font>
</p>

In [36]:
df.loc[["Peugeot 206","Tiba"] , "HP":"price"]

              HP  Weight (KG)  price
Peykan        48          990     33
BMW X6       335         2320   2400
Peugeot 206  105         1025    105
Tiba          87         1027    120


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
دقیقا عملیاتی که در سلول ۱۵ انجام دادیم را، با <code>loc</code> تکرار کردیم. اما در این حالت، ستون شماره‌ی ۳ یا همان <code>price</code>، در خروجی قرار گرفته است.
    </font>
</p>