<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
انتخاب شرطی
    </font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    حال که با دیتافریم در پانداز و نحوه‌ی نمایه سازی آن آشنا شدید، بیایید نگاهی به انواع روش‌های فیلتر کردن داده‌ها بیاندازیم. بار دیگر دیتافریم ماشین‌ها را در نظر می‌گیریم:
    </font>
</p>

In [1]:
import pandas as pd
import numpy as np

cars_dictionary = {
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}

df = pd.DataFrame(cars_dictionary , index = [ "Peykan", "BMW X6", "Peugeot 206", "Tiba", "Nissan Junior", "Peykan Vanet", "renault 5"])

df

                Color   HP  Weight (KG)  price
Peykan            Red   48          990     33
BMW X6          White  335         2320   2400
Peugeot 206     Black  105         1025    105
Tiba            White   87         1027    120
Nissan Junior    Blue   93         1540    230
Peykan Vanet      Red   80          960     68
renault 5      Silver   48          850     38

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد زیر، ستون price را آدرس‌دهی می‌کنیم.
    </font>
</p>

In [2]:
df.price

Peykan             33
BMW X6           2400
Peugeot 206       105
Tiba              120
Nissan Junior     230
Peykan Vanet       68
renault 5          38
Name: price, dtype: int64



<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌بینید که خروجی این کد، به صورت یک سری با نام price و حاوی تمام عناصر این ستون است. بار دیگر به نمایه‌های این سری توجه کنید. می‌دانیم که نمایه‌های آن، همان نمایه‌های دیتافریم هستند.
<br>
برای ساخت فیلتری با این ستون کافی است مانند کد زیر عمل کنیم:
    </font>
</p>

In [3]:
df.price > 110

Peykan           False
BMW X6            True
Peugeot 206      False
Tiba              True
Nissan Junior     True
Peykan Vanet     False
renault 5        False
Name: price, dtype: bool


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این شرط، گفته‌ایم تا بزرگتر بودن قیمت هر ماشین را، از ۱۱۰ میلیون تومان بررسی کند. می‌بینید که در این حالت نیز، نمایه‌ی تمامی ستون‌ها نمایش داده شده است و در صورتی که قیمت آن ماشین، از ۱۱۰ میلیون تومان بیشتر باشد، مقدار آن سطر برابر <code>True</code> در نظر گرفته می‌شود.
    </font>
</p>

In [4]:
df[df.price > 110]

               Color   HP  Weight (KG)  price
BMW X6         White  335         2320   2400
Tiba           White   87         1027    120
Nissan Junior   Blue   93         1540    230


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
به دلیل هماهنگ بودن نام نمایه‌ها در سری‌ای که به عنوان فیلتر استفاده کردیم (خروجی سلول ۳) و نمایه‌ها در دیتافریم، توانستیم به راحتی تمامی ستون‌هایی که مقدار آن‌ها True بود را فیلتر کرده و بدست بیاوریم. به طور کلی، برای فیلتر کردن ساده‌ی دیتافریم‌ها، می‌توانیم از همین روش استفاده کنیم.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
عملیات منطق بولی
    </font>
</h2>

In [5]:
df[ (df.Color == "Red") & (df.price < 50)]

       Color  HP  Weight (KG)  price
Peykan   Red  48          990     33

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
با استفاده از <code>وَیِ بیتی</code>، دو شرط مختلف را به هم وصل کرده‌ایم
    </font>
</p>

In [6]:
df[df.price > 110][["Color" , "price"]]

               Color  price
BMW X6         White   2400
Tiba           White    120
Nissan Junior   Blue    230

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در خروجی کد بالا می‌بینید که تنها سطر‌هایی که قیمتی بیشتر از ۱۱۰ میلیون تومان داشته‌اند نمایش داده شده و فقط دو ستون رنگ و قیمت قابل دسترسی هستند.
    </font>
</p>

In [7]:
condition_1 = df.Color == "Red"
condition_2 = df.Color == "White"
condition_3 = df.HP < 100

df[(condition_1) | ((condition_2) & condition_3)]

              Color  HP  Weight (KG)  price
Peykan          Red  48          990     33
Tiba          White  87         1027    120
Peykan Vanet    Red  80          960     68


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
همان‌طور که در سلول ۳ دیدیم، با اعمال یک شرط روی ستون، درواقع دیتاسری بولی‌ای دریافت می‌کنیم که سطر‌هایی که شرط مورد نظر برای آن‌ها برقرار است، مقدار True را دارند؛ همین دیتاسری را می‌توانیم به عنوان یک شرط (condition) ، ذخیره کرده و برای اعمال فیلترهای مختلف استفاده کنیم.
    </font>
</p>