<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گروه‌بندی
    </font>
</h1>

In [1]:
import pandas as pd
import numpy as np
cars_dictionary = {
    "model" :["Peykan", "Peykan", "Peykan", "BMW X6", "BMW X6", "BMW X6", "Nissan Junior", "Nissan Junior", "Nissan Junior", "Nissan Junior"],
    "Color" :["Red", "White", "Olive",  "Black", "Ametrine", "navy", "Blue", "White", "Blue", "Red"],
    "Weight (KG)" :[990, 1000, 990, 2320, 2320, 2220, 1540, 1540, 1600, 1540],
    "year" :[1346, 1357, 1388, 1391, 1393, 1393, 1375, 1383, 1375, 1389],
    "price" :[25, 30, 48, 2200, 4800, 4800, 105, 105, 130, 145]
}

cars_df = pd.DataFrame(cars_dictionary)
cars_df

           model     Color  Weight (KG)  year  price
0         Peykan       Red          990  1346     25
1         Peykan     White         1000  1357     30
2         Peykan     Olive          990  1388     48
3         BMW X6     Black         2320  1391   2200
4         BMW X6  Ametrine         2320  1393   4800
5         BMW X6      navy         2220  1393   4800
6  Nissan Junior      Blue         1540  1375    105
7  Nissan Junior     White         1540  1383    105
8  Nissan Junior      Blue         1600  1375    130
9  Nissan Junior       Red         1540  1389    145

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
دیتافریم بالا را برای انجام گروه‌بندی در نظر می‌گیریم.
    </font>
</p>

In [2]:
df = cars_df[cars_df.model == 'BMW X6']
df

    model     Color  Weight (KG)  year  price
3  BMW X6     Black         2320  1391   2200
4  BMW X6  Ametrine         2320  1393   4800
5  BMW X6      navy         2220  1393   4800


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در کد بالا، تنها نمونه‌هایی که مدل <code>BMW X6</code> بودند را فیلتر کرده و در دیتافریم <code>df</code> ذخیره کرده‌ایم. حال برای محاسبه‌ی میانگین قیمت کافی است تا از کد زیر استفاده کنیم:
    </font>
</p>

In [3]:
df['price'].mean()

3933.3333333333335


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
همان‌طور که می‌بینید با استفاده از تابع <code>mean()</code>، میانگین قیمت تمام ماشین‌های <code>BMW X6</code> را بدست آوردیم حال برای پیدا کردن میانگین باقی ماشین‌ها نیز می‌توانیم از همین روش استفاده کنیم.
    </font>
</p>

In [4]:
grouped = cars_df.groupby('model')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در خط اول این کد، ستون ‍<code>model</code> دیتافریم، به عنوان کلید گروه‌بندی در نظر گرفته شده و ماشین‌هایی که نام مدل مشابهی دارند در یک دسته قرار می‌گیرند.
<br>
با بررسی <code>type</code> خروجی این تابع، به داده‌ساختار <code>DataFrameGroupBy</code> می‌رسیم که برای نگه داری اطلاعات گروه‌بندی شده‌ی دیتافریم‌ها به کار می‌رود.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
متد‌ها و ویژگی‌های ساختار گروه‌بندی
    </font>
</h2>

In [5]:
grouped.ngroups

3

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
خروجی سلول بالا، عدد ۳ است که به معنای سه گروه با نام مدل‌های BMW X6، Nissan Junior و Peykan که در دیتافریم اولیه وجود داشتند می‌باشد.
    </font>
</p>

In [6]:
grouped.groups

{'BMW X6': [3, 4, 5], 'Nissan Junior': [6, 7, 8, 9], 'Peykan': [0, 1, 2]}

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در خروجی سلول بالا، می‌بینید که نام هر مدل به عنوان کلید، و نمایه‌ی سطرهای مربوط به آن گروه روبه‌روی آن‌ها ذکر شده است.
    </font>
</p>

In [7]:
grouped.size()

model
BMW X6           3
Nissan Junior    4
Peykan           3
dtype: int64


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
خروجی سلول بالا به معنی وجود ۳ ماشین BMW X6، ۴ ماشین Nissan Junior و ۳ ماشین Peykan در دیتافریم نمایشگاه است؛ که این دیتافریم بر اساس مدل در متغیر <code>grouped</code> گروه‌بندی شده است.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
اعمال توابع روی گروه‌ها
    </font>
</h2>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تجمیع
    </font>
</h2>

In [8]:
grouped[['price','Weight (KG)']].agg('mean')

                     price  Weight (KG)
model
BMW X6         3933.333333  2286.666667
Nissan Junior   121.250000  1555.000000
Peykan           34.333333   993.333333


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در سلول بالا، ابتدا دو ستون <code>price</code> و<code> ‌Weight (KG)</code> را که حاوی مقادیر عددی هستند جدا کرده و تابع میانگین (<code>mean</code>) را روی آن‌ها اعمال می‌کنیم. همان‌طور که می‌بینید، این تابع برای هر گروه یک بار محاسبه شده و خروجی آن برای هر ستون کلید نمایش داده ‌می‌شود. با این روش، توانستیم به میانگین وزن و قیمت هر مدل ماشین برسیم.
    </font>
</p>

In [9]:
grouped[['price','Weight (KG)']].mean()

                     price  Weight (KG)
model
BMW X6         3933.333333  2286.666667
Nissan Junior   121.250000  1555.000000
Peykan           34.333333   993.333333

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌بینید که بدون استفاده از متد <code>agg()</code> و با اعمال مستقیم متد <code>mean()</code>، توانستیم به نتیجه‌ی قبلی برسیم.
    </font>
</p>

In [10]:
 def peak_to_peak(arr):
     return arr.max() - arr.min()

grouped[['price','Weight (KG)']].agg( peak_to_peak )

               price  Weight (KG)
model
BMW X6          2600          100
Nissan Junior     40           60
Peykan            23           10



<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌بینید که در این حالت، برای استفاده از تابعی که خودمان نوشته‌ایم به صورت تجمیعی، کافی است تا نام تابع را به عنوان ورودی به متد <code>agg</code> بدهیم. دقت کنید که در این جا، برعکس حالت‌های قبل، نام تابع به صورت رشته (<code>string</code>) ارسال نمی‌شود.
<br>
تمام حالت‌هایی که تا به حال بررسی کردیم، تنها یک تابع را به متد <code>agg</code> ارسال می‌کردند؛ حال فرض کنید می‌خواهیم برای هر مدل ماشین، تعداد ماشین‌های موجود را شمرده و میانگین، میانه و فاصله‌ی تغییرات قیمت را محاسبه کنیم:
    </font>
</p>

In [11]:
grouped['price'].agg(['count', peak_to_peak, 'median', 'mean'])

               peak_to_peak  count  median         mean
model
BMW X6                 2600      3  4800.0  3933.333333
Nissan Junior            40      4   117.5   121.250000
Peykan                   23      3    30.0    34.333333

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌بینید که با استفاده از براکت (<code>[ ]</code>)، می‌توانیم چندین تابع را همزمان استفاده کرده و خروجی هر کدام را به صورت ستونی جداگانه در دیتافریم نهایی دریافت کنیم.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
انواع کلید برای گروه‌بندی
    </font>
</h2>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
استفاده از آرایه به عنوان کلید
    </font>
</h2>

In [12]:
car_impact = ['low', 'high', 'medium', 'high', 'low', 'medium', 'medium', 'low', 'low', 'high']
cars_df.groupby(car_impact)['price'].agg(['min', 'max'])

        min   max
high     30  2200
low      25  4800
medium   48  4800


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
همان‌طور که می‌بینید، تابع <code>groupby</code>، هر مقدار آرایه‌ی <code>car_impact</code> را با سطرهای دیتافریم ‍<code>cars_df</code> تناظر داده و بر اساس مقادیر یکتای آرایه گروه‌بندی را انجام می‌دهد. در این حالت، نمایه‌های دیتافریم خروجی مقادیر آرایه‌ی <code>car_impact</code> هستند و بر همین اساس مقادیر کمینه و بیشنیه‌ی قیمت محاسبه می‌شود.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
استفاده از تابع به عنوان کلید
    </font>
</h2>

In [13]:
cars_df.index = [3523, 2636, 1031, 2159, 2973, 1083, 3214, 1111, 2525, 2445]

def factor_split(number):
    return np.array(number/1000).astype(int)

factor_split(cars_df.index)

array([3, 2, 1, 2, 2, 1, 3, 1, 2, 2])


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
تابع factor_split، با تقسیم عدد بر ۱۰۰۰، اولین رقم شماره‌ی فاکتور (نمایه) که نشان دهنده‌ی سال خرید ماشین است را بدست می‌آورد و با تبدیل آن به <code>int</code>، از رقم‌های اعشاری آن خلاص می‌شود. در کد بالا، اعمال این تابع روی نمایه‌های دیتافریم <code>cars_df</code> را می‌بینیم. حال برای انجام گروه‌بندی بر اساس این اعداد، کافی است تا نام تابع را به عنوان کلید گروه‌بندی به تابع <code>groupby</code> بدهیم.
    </font>
</p>

In [14]:
cars_df.groupby(factor_split)['price'].sum()

1    4953
2    7305
3     130
Name: price, dtype: int64


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این حالت، خود تابع <code>groupby</code>، تابع <code>factor_split</code> را روی نمایه‌های دیتافریم اعمال کرده و با توجه به خروجی آن، گروه بندی را انجام می‌دهد. در خروجی سلول بالا، مجموع قیمت ماشین‌ها به صورت گروه بندی شده بر اساس رقم اول فاکتور (سال خرید) را می‌بینیم.
    </font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
استفاده از چند کلید برای گروه‌بندی
    </font>
</h2>

In [15]:
price_datas = cars_df.groupby(['model', 'year'])['price'].mean()
price_datas

model          year
BMW X6         1391    2200.0
               1393    4800.0
Nissan Junior  1375     117.5
               1383     105.0
               1389     145.0
Peykan         1346      25.0
               1357      30.0
               1388      48.0
Name: price, dtype: float64


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در خروجی سلول بالا، <code>model</code> و <code>year</code>، همزمان به عنوان نمایه شناخته می‌شوند و برای هر مدل ماشین، سال ساخت‌های موجود نمایش داده شده و میانگین قیمت در آن حالت را مشاهده می‌کنیم. می‌بینید که در این حالت نیز کار با خروجی تابع گروه‌بندی دقیقا مانند حالت‌های قبلی است و برای اعمال توابع می‌توانیم از هر کدام از توابع تجمیع و یا توابعی که در درسنامه‌های آینده با آن آشنا می‌شوید، استفاده کنید.
    </font>
</p>

In [16]:
price_datas.unstack()

year           1346  1357   1375   1383  1388   1389    1391    1393
model
BMW X6          NaN   NaN    NaN    NaN   NaN    NaN  2200.0  4800.0
Nissan Junior   NaN   NaN  117.5  105.0   NaN  145.0     NaN     NaN
Peykan         25.0  30.0    NaN    NaN  48.0    NaN     NaN     NaN

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این حالت، پانداس به طور خودکار دومین نمایه را به عنوان ستون استفاده کرده تا به شکلی جدولی برسیم و قیمت هر ماشین را به ازای سال ساخت آن راحتتر ببینیم. در حالت‌هایی که دیتافریم بزرگتر باشد و به ازای هر ماشین سال ساخت‌های مختلف را داشته باشیم، این جدول پر تر خواهد بود اما در این‌جا، مقادیری که ناموجود بودند را با <code>NaN</code> نشان می‌دهیم.
    </font>
</p>