# Pandas

In [2]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([20,17,13,18])
print(s,"\n")
print("Values:",s.values,"\n")
print("index",s.index)

0    20
1    17
2    13
3    18
dtype: int64

Values: [20 17 13 18]

index RangeIndex(start=0, stop=4, step=1)

In [29]:
s.index =['a','b','c','d']
print(s)
print("index:",s.index)
print("values:",s.values)

a    20
b    17
c    13
d    18
dtype: int64
index: Index(['a', 'b', 'c', 'd'], dtype='object')
values: [20 17 13 18]

In [6]:
s = pd.Series([20,17,13,18], index=['rose','tom', 'jack', 'dick'])
print(s)
print("Python List:",s.to_list())

rose    20
tom     17
jack    13
dick    18
dtype: int64
Python List: [20, 17, 13, 18]

In [5]:
pd.Series()

Series([], dtype: object)

In [7]:
# values decrease left ot right
s.is_monotonic_decreasing

False

In [8]:
# values increase left to right
s.is_monotonic_increasing

False

In [9]:
# similarity between values
s.is_unique

True

In [16]:
sample = pd.Series(range(23,69,7))
print("Series:\n",sample,"\n",sep='')
print("Head:\n",sample.head(),"\n",sep='')
print("Tail:\n",sample.tail(),"\n",sep='')

Series:
0    23
1    30
2    37
3    44
4    51
5    58
6    65
dtype: int64

Head:
0    23
1    30
2    37
3    44
4    51
dtype: int64

Tail:
2    37
3    44
4    51
5    58
6    65
dtype: int64

In [17]:
cars_dictionary = {
    "model" :[ "Pride", "BMW X6", "Peugeot 206", "Volvo", "Nissan Junior", "Mercedes", "renault 5"],
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}

df = pd.DataFrame(cars_dictionary)

df

           model   Color   HP  Weight (KG)  price
0          Pride     Red   48          990     33
1         BMW X6   White  335         2320   2400
2    Peugeot 206   Black  105         1025    105
3          Volvo   White   87         1027    120
4  Nissan Junior    Blue   93         1540    230
5       Mercedes     Red   80          960     68
6      renault 5  Silver   48          850     38

# iloc
<img src="https://quera.org/qbox/view/fUQOensQs0/both%20are%20series.gif" alt="...">

In [37]:
df.iloc[0]

model          Pride
Color            Red
HP                48
Weight (KG)      990
price             33
Name: 0, dtype: object

In [38]:
df['Color']

0       Red
1     White
2     Black
3     White
4      Blue
5       Red
6    Silver
Name: Color, dtype: object

# Columns & Index
<img src="https://quera.org/qbox/view/xAhilaZMRL/col%20and%20index.gif" alt="...">

In [39]:
df.columns

Index(['model', 'Color', 'HP', 'Weight (KG)', 'price'], dtype='object')

In [40]:
numpy_columns = df.columns.to_numpy()
numpy_columns

array(['model', 'Color', 'HP', 'Weight (KG)', 'price'], dtype=object)

In [41]:
cars_index  = df.index
cars_index

RangeIndex(start=0, stop=7, step=1)

In [42]:
values = df.values
values

array([['Pride', 'Red', 48, 990, 33],
       ['BMW X6', 'White', 335, 2320, 2400],
       ['Peugeot 206', 'Black', 105, 1025, 105],
       ['Volvo', 'White', 87, 1027, 120],
       ['Nissan Junior', 'Blue', 93, 1540, 230],
       ['Mercedes', 'Red', 80, 960, 68],
       ['renault 5', 'Silver', 48, 850, 38]], dtype=object)

In [43]:
values.shape

(7, 5)

In [44]:
df2 = pd.DataFrame([['Mercedes', 'Red', 48, 990, 33],
       ['BMW X6', 'White', 335, 2320, 2400],
       ['Peugeot 206', 'Black', 105, 1025, 105],
       ['Ferrari', 'White', 87, 1027, 120],
       ['Nissan Junior', 'Blue', 93, 1540, 230],
       ['Nissan Junior', 'Red', 93, 1540, 186],
       ['renault 5', 'Silver', 48, 850, 38]],
       index = ['a','b','c','d','e','f','g'],
       columns= ['model' , 'Color' , 'HP', 'Weight (KG)', 'price'])

df2

           model   Color   HP  Weight (KG)  price
a       Mercedes     Red   48          990     33
b         BMW X6   White  335         2320   2400
c    Peugeot 206   Black  105         1025    105
d        Ferrari   White   87         1027    120
e  Nissan Junior    Blue   93         1540    230
f  Nissan Junior     Red   93         1540    186
g      renault 5  Silver   48          850     38

In [45]:
df2.iloc[1]

model          BMW X6
Color           White
HP                335
Weight (KG)      2320
price            2400
Name: b, dtype: object

In [46]:
df2.loc['a']

model          Mercedes
Color               Red
HP                   48
Weight (KG)         990
price                33
Name: a, dtype: object

In [47]:
df2.loc[['a','b']]

      model  Color   HP  Weight (KG)  price
a  Mercedes    Red   48          990     33
b    BMW X6  White  335         2320   2400

In [48]:
df2['Color']

a       Red
b     White
c     Black
d     White
e      Blue
f       Red
g    Silver
Name: Color, dtype: object

In [49]:
df2.columns

Index(['model', 'Color', 'HP', 'Weight (KG)', 'price'], dtype='object')

In [50]:
df2.describe()

               HP  Weight (KG)        price
count    7.000000     7.000000     7.000000
mean   115.571429  1327.428571   444.571429
std     99.354344   516.250539   865.250225
min     48.000000   850.000000    33.000000
25%     67.500000  1007.500000    71.500000
50%     93.000000  1027.000000   120.000000
75%     99.000000  1540.000000   208.000000
max    335.000000  2320.000000  2400.000000

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, a to g
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   model        7 non-null      object
 1   Color        7 non-null      object
 2   HP           7 non-null      int64
 3   Weight (KG)  7 non-null      int64
 4   price        7 non-null      int64
dtypes: int64(3), object(2)
memory usage: 636.0+ bytes

In [52]:
df2['Color'].value_counts()

Color
Red       2
White     2
Black     1
Blue      1
Silver    1
Name: count, dtype: int64

# Merge In Pandas

---
```Python
pd.merge(
    cars_df,
    price_with_year_df,
    left_on = ["model" , "year"],
    right_on = ["car model", "year"]
)
```
<img src="https://quera.org/qbox/view/EYndiRyaWi/merge2.gif">

---
```Python
pd.merge(
    full_cars_df,
    full_price_df,
    how = "left"
)
```
<img src="https://quera.org/qbox/view/LNNEr75TC2/merge3.gif">

---
```Python
staff1_df.combine_first(staff2_df)
```
<img src="https://quera.org/qbox/view/gsYC5w83a9/overlap.gif">